{namespace communarchy.templates.html.arg.point.nodes}

/**
 *  Visual divider between points
 */
{template .PointSeperator}
<div>
	<div class="point-sep-top"></div>
	<div class="point-sep-filler"></div>
	<div class="point-sep-bottom"></div>
</div>
{/template}