{namespace communarchy.templates.html.newarg.nodes}

/**
 *  View for the text area input for new arguments
 *
 *  @param content Existing content to be rendered to the user
 */
{template .Content}
	<div class="new-arg-content">
		<textarea name="content" class="new-arg-text-area">
			{$content}
		</textarea>
	</div>
{/template}