{namespace communarchy.templates.html.newarg.nodes}

/**
 *  The title view for a new argument
 *
 *  @param title Existing value already input by user
 */
{template .Title}
	<div class="new-arg-title">
		<input type="text" name="title" class="required new-arg-input" title="Title" value="{$title}"></input>
	</div>
{/template}