.arg-control-panel {
	padding-top: 10px;
}

body {
	text-align: center;
	min-width: 1000px;
	min-height: 2000px;
	margin: 0px;
}

.border-top {
	margin-top: 15px;
}

.border-filler {
	background-color: #FF3;
	height: 15px;
}

.border {
	border-top: 1px solid;
    width: 999px;
}

.center {
	margin-left: auto; 
	margin-right: auto;
	display: block;
}

.btn {
	background-color: #DEB236;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	text-decoration: underline;
	border: solid 2px #000;
}

.btn:hover {
	background-color: #3658DE;
}

.btn:active {
	background-color: #9FF;
}

.request-waiting {
	cursor: progress;
}

.request-finished {
	cursor: auto;
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.clear {
	clear:both;
}

.dotted-border-top {
	border-top: dashed 1px;
}

.arg-errors {
	padding-top: 5px;
	color: #FF0000;
}

.arg-errors-header {
	font-weight: bold;
}

.arg-errors-content {
	padding-left: 20px;
}

.logo-panel {
	position: relative;
}

.logo-image {
	background-image: url("/dbg/images/ppl.png");
	background-repeat: no-repeat;
	background-position: 1% 0%;
	height: 44px;
	width: 98px;
}

.logo-count {
	text-align: center;
	font-size: 25px;
}

.logo-button {}

.logo-clickable {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.logo-text {
	text-align: center;
	font-size: 35px;
	color: #750;
	font-weight: bold;
	font-family: sans-serif;
}

.logo-spacer {
	width: 325px;
	min-height: 1px;
}

.logout-text {
	font-size: 10px;
}

.main-btn {
	width: 260px;
	font-size: 25px;
	padding-right: 7px;
	padding-left: 7px;
}

.new-proposal-container {
	padding-top: 40px;
}

#tippy-top {
	background-color: #EB3;
	height: 31px;
	margin-bottom: -31px;
}

.top-bar {
	padding-top: 7px;
}

.user {
	padding-left: 5px;
	padding-top: 2px;
	cursor: pointer;
}

.rep-text {
	padding-left: 5px;
	padding-top: 3px;
	font-size: 20px;
}

.author-wrapper {
	padding-right: 5px;
	padding-top: 14px;
	padding-left: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 14px;
	background-color: #F8F8FF;
}

.signature-action {
	font-size: 12px;
}

.signature-wrapper {
}