{namespace communarchy.templates.html.pov.nodes}

/**
 *  View used to wrap flags
 *
 *  @param flags argument to the profanity flag
 */
{template .flags}
<div class="flag-wrapper">
	<div class="pov-flag p-flag float-left"></div>
	<div class="flag-reason float-left">
		{call communarchy.templates.html.controllers.PovCurationController.getFlags}
			{param flags: $flags /}
		{/call}
	</div>
	<div class="clear"></div>
</div>
{/template}