{namespace communarchy.templates.html.pov.nodes}

/**
 *  View to render when user supports, but has no votes left
 *
 *  @param pov The point of view to render
 */
{template .noVotesRemaining}
	<div class="pov-novotes">
		{call .upvoteActiveDisabled data="$pov" /}
		{call .reclaimVoteInactive data="$pov" /}
	</div>
{/template}