{namespace communarchy.templates.html.pov.nodes}

/**
 *  View inserted into each pov which contains stats
 *
 *  @param povVoteCount The number of votes for targeted pov
 */
{template .povStats}
<div class="stat-container">
	<div class="stat-vote">
		<div class="stat-val">{$povVoteCount}</div>
		<div class="stat-vote-icon"></div>
	</div>
</div>
{/template}