{namespace communarchy.templates.html.pov.nodes}

/**
 *  Active view for recalaim vote button
 *
 *  @param reclaimVoteAction Action to reclaim the vote
 */
{template .reclaimVoteActive}
<form method="post" action="{$reclaimVoteAction}">
	<div class="pov-reclaim-container">
		<input class="reclaimvote-active" type="submit"></input>
	</div>
</form>
{/template}