{namespace communarchy.templates.html.pov.nodes}

/**
 *  Inactive view for recalaim vote button
 *
 *  @param reclaimVoteAction Action to reclaim the vote
 */
{template .reclaimVoteInactive}
<form method="post" action="{$reclaimVoteAction}">
	<div class="pov-reclaim-container pov-novotes">
		<input disabled="disabled" class="reclaimvote-inactive" type="submit"></input>
	</div>
</form>
{/template}