{namespace communarchy.templates.html.pov.nodes}

/**
 *  Inactive view for upvote form
 *
 *  @param upvoteAction Action to perform an upvote
 */
{template .upvoteInactive}
<form method="post" action="{$upvoteAction}">
	<div class="pov-upvote-container">
		<input class="upvote-inactive" disabled="disabled" type="submit"></input>
	</div>
</form>
{/template}