{namespace communarchy.templates.html.pov.nodes}

/**
 *  Active view for upvote form
 *
 *  @param upvoteAction Action to perform an upvote
 */
{template .upvoteActive}
<form method="post" action="{$upvoteAction}">
	<div class="pov-upvote-container">
		<input class="upvote-active" type="submit"></input>
	</div>
</form>
{/template}