{namespace communarchy.templates.html.main.nodes}

/**
 *  Upvote stuff
 *
 *  @param voteCount The amount of votes
 */
{template .ArgVoteCount}
	<div class="arg-vote-count">{$voteCount}</div>
{/template}