{namespace communarchy.templates.html.main.nodes}

/**
 *  Downvote stuff
 *
 *  @param downvoteAction Action to downvote this thing
 */
{template .DownvoteActive}
<div class="downvote-arg-wrapper">
	<form method="post" action="{$downvoteAction}">
		<div>
			<input class="downvote-arg" type="submit"></input>
		</div>
	</form>
</div>
{/template}