{namespace communarchy.templates.html.global.nodes}

/**
 *  View for an individual error with user input
 *
 *  @param error Text explaining what is wrong with user input
 */
{template communarchy.templates.html.global.nodes.ErrorView}
	<div class="error-wrapper">{$error}</div>
{/template}