{namespace communarchy.templates.html.global.nodes}

/**
 *  Used for html script tag when inserting javascript
 *
 *  @param script Javascript url
 */
{template .Script}
<script type="text/javascript" src="{$script}"></script>
{/template}