{namespace communarchy.templates.html.global.nodes}

/**
 *  Used for html link tag when inserting css style sheets
 *
 *  @param styleSheet Stylesheet url
 */
{template .Style}
<link type="text/css" rel="stylesheet" href="{$styleSheet}"></link>
{/template}