{namespace communarchy.templates.html.global.nodes}

/**
 *  When user input is invalid, this is the template used to
 *  structure error messages that are displayed to them.
 *
 */
{template .TabBorderSpacer}
<div class="tab-spacer float-left"></div>
{/template}