{namespace communarchy.templates.html.global.nodes}

/**
 *  When user input is invalid, this is the template used to
 *  structure error messages that are displayed to them.
 *
 */
{template .TabBorderEnd}
<div class="tab-bottom float-left"></div>
{/template}