{namespace communarchy.templates.html.global.nodes}

/**
 *  Filled in border
 */
{template .ThickBorder}
<div>
	<div class="border border-top"></div>
	<div class="border-filler"></div>
	<div class="border"></div>
</div>
{/template}