{namespace communarchy.templates.html.point.branches}

/**
 *  Calls the proper leaf view for one, and only one pov
 *  foreach pov in a set
 *
 *  @param povs Set of povs which need to be rendered
 */
{template .getSupportedPovs}
{foreach $pov in $povs}
	{call communarchy.templates.html.argComponents.povLeaves.userSupports data="$pov"/}
{/foreach}
{/template}