{namespace communarchy.templates.html.pov.branches}

/**
 *  Calls the proper leaf view for one, and only one pov
 *  foreach pov in a set.  This is called when the user doesn't support
 *  the point that the povs being addressed are associate with
 *
 *  @param povs Set of povs which need to be rendered
 */
{template .getUnsupportedPov}
{foreach $pov in $povs}
	{call communarchy.templates.html.argComponents.povLeaves.userDoesntSupport}
		{param pov: $pov /}
	{/call}
{/foreach}
{/template}
